* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --white: #ffffff;
    --soft-gray: #666666;
    --dark-gray: #333333;
    --navy-blue: #003366;
    --turquoise: #00b2a9;
    --gold: #daa520;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    --font-size-h1: 48px; 
    --font-size-h2: 36px; 
    --font-size-h3: 24px; 
    --font-size-base: 16px; 
    --font-size-secondary: 14px; 
    --font-size-terciary: 10px;
    --font-size-button: 12px; 

    --font-weight-bold: 700; 
    --font-weight-semibold: 600; 
    --font-weight-regular: 400; 
}

main{
    background-color: var(--white);
}

header {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    background-color: var(--white);
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

header nav a {
    text-decoration: none;
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-base);
    color: var(--dark-gray);
}

header nav a:hover {
    color: var(--turquoise);
}

header nav .nav-left-section a {
    color: var(--navy-blue);
}

header nav .nav-left-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header nav .nav-right-section {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 40px; 
}

header nav img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 50%;
    border: 3px solid var(--gold);
}

#Home-header,
#About-header,
#Projects-header {
    background-color: rgba(0, 178, 169, 0); /* Totalmente transparente */
    border: none; 
}

/* Estilo para la sección principal */
#Home {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    width: 100%;
    background-color: var(--white);
    margin-top: 260px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    gap: 20px;
} 

#Home .text-column {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}

.text-column h1{
    font-size: var(--font-size-h1); 
    color: var(--navy-blue);         
    font-weight: var(--font-weight-bold);
    margin-bottom: 20px;
}

.text-column p {
    font-size: var(--font-size-base); 
    color: var(--dark-gray);           
    line-height: 1.6;                  
    font-weight: var(--font-weight-regular); 
}

/* Estilo para el modelo 3D */
#laptop-model {
    width: 80%; 
    height: auto; 
    margin-left: auto;
    margin-right: auto;              
}


/* Estilo para la sección About */
#About {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    max-width: 1200px;
    width: 100%;
    background-color: var(--white);
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
}

.text-column-about {
    padding-right: 40px;
}

.text-column-about h2{
    color: var(--navy-blue);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
}

.custom-hr{
    width: 50px;
    height: 6px;
    background-color: var(--gold);
    border: none;
    margin: 20px 0; 
    border-radius: 5px;
}


.skills {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 50px;
}

.skills h3 {
    text-align: center;
    width: 100%;
    margin: 20px;
    color: var(--turquoise);
    text-decoration: underline;
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-semibold);
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 10px; 
}

.icon-item img {
    width: 40px; 
    height: 40px; 
}

.icon-name{
    font-size: var(--font-size-secondary);
    font-weight: var(--font-weight-regular);
    color: var(--soft-gray);
    text-align: center; 
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--navy-blue); 
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px; 
    transition: background-color 0.3s;
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-semibold);
}

.download-button:hover {
    background-color: var(--gold); 
}

/* Estilo para los proyectos */
#Projects{
   width: 100%;
   max-width: 1200px;
   height: auto;
   width: auto;
   margin-top: 150px;
   margin-left: auto;
   margin-right: auto;
   background-color: var(--white);
   padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 100px;
}

.Projects-tittle h2{
    color: var(--navy-blue);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
}

.projects-cars--slider{
    display: flex;
    justify-content: center;
    height: auto;
    overflow: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.project-card{
    display: flex;
    flex-direction: column;
    position: relative;
    scroll-snap-align: center;
    width: auto;
    min-width: 240px;
    max-width: 350px;
    height: auto;
    margin: 0 10px 0;
    background-color: var(--turquoise);
    border-radius: 15px;
    border: 1px solid var(--soft-gray);
    box-shadow: 0 4px 8px var(--soft-gray);
    padding: 15px;
}

.content {
    flex: 1;
}

.project-card .project-image{
    width: 100%;
    height: 150px;
    border-radius: 15px;
    border: 1px solid var(--soft-gray);
    box-shadow: var(--box-shadow);
    
}

.project-card h3{
    color: var(--navy-blue);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h3);
    text-align: center;
    margin-bottom: 5px;
}

.project-card p{
    color: var(--white);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-secondary);
    text-align: center;
}

.project-card h4{
    color: var(--navy-blue);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-base);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.icon-card-name{
    font-size: var(--font-size-terciary);
    font-weight: var(--font-weight-regular);
    color: var(--white);
    text-align: center;
}

.technologies{
    display: flex;
    flex-wrap: column;
    justify-content: center;
}

.technologies h4 {
    margin-bottom: 10px;
}

.tech-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 
}

.tech-items-container {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}

.tech-item img{
    width: 20px; 
    height: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--navy-blue); 
    color: var(--white);
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px; 
    transition: background-color 0.3s;
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-semibold);
}


.project-buttons {
    display: flex;
    justify-content: center; 
    gap: 15px;
    margin-top: auto; 
    margin-bottom: 10px;
}

.btn:hover {
    background-color: var(--gold); 
}

/* Estilo para el pie de pagina */
footer {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center; 
    background-color: var(--navy-blue);
    padding: 20px 20px; 
}

.contact-column {
    margin-bottom: 0px; 
    text-align: center; 
}

.contact-info {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
    color: var(--white); 
}

.contact-icon {
    width: 40px;
    height: 40px; 
    margin-right: 10px; 
}

.contact-info a img[src*="photo.jpeg"] {
    border-radius: 50%; 
    border: 2px solid var(--gold); 
}

.social-column {
    margin-top: 20px; 
    text-align: center; 
}

.social-links {
    display: flex; 
    justify-content: start; 
    flex-wrap: wrap; 
    gap: 20px; 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.social-icon {
    width: 60px; 
    height: 60px; 
    margin: 10px; 
    text-decoration: none; 
}

.footer-bottom {
    color: var(--white); 
    font-size: var(--font-size-secondary); 
    font-weight: var(--font-weight-regular); 
    margin-top: 20px; 
    text-align: center; 
}

h2, h3 {
    color: var(--turquoise); 
}



/* Media Queries */
@media (min-width: 1100px) {
    footer {
        flex-direction: row; 
        justify-content: space-between; 
        align-items: flex-start; 
    }
    
    .contact-column, .social-column {
        flex: 1; 
        margin-bottom: 0; 
        text-align: left; 
    }

    .footer-bottom {
        grid-column: 1 / -1; 
        margin-top: 20px; 
    }
}

@media (max-width: 812px) {
    header nav {
        padding-left: 10px; 
        padding-right: 10px; 
    }

    header nav .nav-right-section {
        gap: 10px;
    }

    #Home {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column;
        margin-top: 130px; 
    }

    #laptop-model {
        width: 100%;
        max-width: 600px;
        aspect-ratio: 16 / 9; 
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .text-column h1 {
        font-size: var(--font-size-h2); 
    }

    #About {
        display: block; 
        margin-top: 110px; 
        padding: 0 40px;
    }

    .text-column-about {
        margin-bottom: 40px; 
    }
    

    .text-column-about p{
        text-align: center;
    }

    .download-button{
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .download-button {
        display: block;              
        max-width: 160px;           
        width: 100%;                
        margin: 0 auto;             
        padding: 10px;         
        font-size: 16px;            
        border: none;               
        border-radius: 5px;         
        background-color: var(--navy-blue); 
        color: var(--white);        
        cursor: pointer;            
        text-align: center;         
    }
    .skills {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center; 
        padding: 0; 
    }

    .icon-item {
        margin: 10px; 
    }

    .skills h3 {
        margin-top: 20px;
    }

    .projects-cars--slider {
        flex-direction: column;
        align-items: center; 
    }
    .project-card {
        margin: 10px 0; 
        width: 90%; 
    }

    footer {
        flex-direction: column;
        align-items: center; 
    }

    .contact-column, .social-column {
        text-align: start; 
        margin-bottom: 20px; 
        width: 100%; 
    }
}


@media (min-width: 481px) {
    @media (min-width: 481px) {
        header nav .nav-right-section {
            display: flex; /* Muestra la lista de menú */
        }
    
        header nav .menu-button {
            display: none; /* Oculta el botón "Menu" */
        }
    }
    
}

@media (max-width: 480px) {
    header nav .nav-right-section {
        display: none; /* Oculta la lista de navegación */
        flex-direction: column; 
        position: absolute; 
        top: 100%; 
        left: 0; 
        background-color: var(--white); 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        z-index: 1000; 
        width: 100%; 
    }

    header nav .menu-button {
        display: block; /* Muestra el botón "Menu" */
        background-color: transparent; 
        color: var(--turquoise);
        font-size: 18px; 
        font-weight: var(--font-weight-bold); 
        border: none; 
        border-radius: 10px;
        padding: 10px; 
        cursor: pointer; 
    }

    header nav .nav-right-section li {
        padding: 10px; 
        text-align: left;
    }

    header nav .menu-button:hover {
        background-color: transparent; 
        color: var(--gold);
    }

    .text-column-about {
        padding-right: 0px;
    }
}


