:root {
    --white: #ffffff;
    --soft-gray: #666666;
    --dark-gray: #333333;
    --navy-blue: #003366;
    --turquoise: #00b2a9;
    --gold: #daa520;
    --transparent:rgba(0, 178, 169, 0); 

    --box-shadow: 0 4px 6px rgba(102, 102, 102, 0.3);

    --font-size-h1: 48px; 
    --font-size-h2: 36px; 
    --font-size-h3: 24px; 
    --font-size-base: 16px; 
    --font-size-secondary: 14px; 
    --font-size-terciary: 10px;
    --font-size-button: 12px; 

    --font-weight-bold: 700; 
    --font-weight-semibold: 600; 
    --font-weight-regular: 400; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--dark-gray);
    border: none;
}

body.light {
    background-color: var(--white);
}

body.light main{
    background-color: var(--white);
}

body.light .text-column h1{
    color: var(--navy-blue);
}

body.light .text-column p{
    color: var(--dark-gray);
}

body.light .text-column-about h2{
    color: var(--navy-blue);
}

body.light .text-column-about p{
    color: var(--dark-gray);
}

body.light .download-button{
    background-color: var(--navy-blue);
}

body.light .download-button:hover{
    background-color: var(--gold);
    box-shadow: var(--box-shadow); 
}

body.light .skills h3{
    color: var(--turquoise);
}

body.light .icon-name{
    color: var(--dark-gray);
}

body.light .Projects-tittle h2{
    color: var(--navy-blue);
}

/* ---------------------------Dark mode------------------------*/

aside button{
    background-color: var(--white);
}

aside button span{
    background-color: var(--white);
    border-radius: 1000px;
}

.switch{
    font-size: 20px;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    background-color: var(--white);
    gap: 5px;
}

.switch::after{
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--turquoise);
    top: -2px;
    left: -2px;
    right: unset;
    transition: .3s ease all;
    box-shadow: 0 0 2px 2px rgb(255, 255, 255, 0.3);
}

body.light .switch::after {
    left: calc(100% - 30px); /* Mueve el círculo a la derecha */
}

body:not(.light) .switch::after {
    left: 0; /* Mantiene el círculo a la izquierda */
}


header {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    background-color: var(--navy-blue);
}

header nav {
    background-color: var(--navy-blue);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 320px;
}

header nav span{
    background-color: var(--navy-blue);
}

header nav a {
    text-decoration: none;
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-base);
    color: var(--turquoise);
    background-color: var(--navy-blue);
}

header nav a:hover {
    color: var(--gold);
}

header nav .nav-left-section a {
    color: var(--turquoise);
    
}

header nav .nav-left-section {
    display: flex;
    align-items: center;
}

header nav .nav-right-section {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    gap: 40px; 
    background-color: var(--navy-blue);
}

header nav img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 50%;
    border: 3px solid var(--gold);
    background-color: var(--navy-blue);
}

aside{
    display: flex;
    justify-content: end;
    position: fixed;
    gap: 20px;
    top: 0px; 
    right: 0;
    width: auto;
    background-color: var(--transparent);
    z-index: 1000;
    width: auto;
    height: 100px;
    align-items: center;
    padding-right: 100px;
}
.language {
    background-color: var(--turquoise);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 80px;
    width: 60px; 
    height: 30px;
}

.language:hover {
    background-color: var(--gold);
}

main{
    background-color: var(--dark-gray);
}

#Home-header,
#About-header,
#Projects-header {
    background-color: var(--transparent)
    border: none; 
}

/* Estilo para la sección principal */
#Home {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    width: 100%;
    margin-top: 260px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    gap: 20px;
    background-color: var(--transparent);

} 

#Home .text-column {
    background-color: var(--transparent);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}

.text-column h1{
    font-size: var(--font-size-h1); 
    color: var(--turquoise);   
    background-color: var(--transparent);      
    font-weight: var(--font-weight-bold);
    margin-bottom: 20px;
}

.text-column p {
    font-size: var(--font-size-base); 
    color: var(--white); 
    background-color: var(--transparent);          
    line-height: 1.6;                  
    font-weight: var(--font-weight-regular); 
}

/* Estilo para el modelo 3D */
#laptop-model {
    width: 80%; 
    height: auto; 
    margin-left: auto;
    margin-right: auto; 
    background-color: var(--transparent);             
}


/* Estilo para la sección About */
#About {
    background-color: var(--transparent);
    display: grid;
    grid-template-columns: 1fr 1fr; 
    max-width: 1200px;
    width: 100%;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
}

.text-column-about {
    padding-right: 40px;
    background-color: var(--transparent);
}

.text-column-about h2{
    color: var(--turquoise);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    background-color: var(--transparent);
}

.custom-hr{
    width: 50px;
    height: 6px;
    background-color: var(--gold);
    border: none;
    margin: 20px 0; 
    border-radius: 5px;
}

.text-column-about p{
    color: var(--white);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    background-color: var(--transparent);
}


.skills {
    background-color: var(--transparent);
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 50px;
}

.skills h3 {
    text-align: center;
    width: 100%;
    margin: 20px;
    color: var(--gold);
    background-color: var(--transparent);
    text-decoration: underline;
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-semibold);
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 10px;
    background-color: var(--transparent); 
}

.icon-item img {
    width: 40px; 
    height: 40px; 
    background-color: var(--transparent);
}

.icon-name{
    font-size: var(--font-size-secondary);
    font-weight: var(--font-weight-regular);
    color: var(--white);
    text-align: center;
    background-color: var(--transparent); 
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--turquoise);
    box-shadow: var(--box-shadow); 
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px; 
    transition: background-color 0.3s;
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-semibold);
}

.download-button:hover {
    background-color: var(--gold); 
    box-shadow: var(--box-shadow); 
}

/* Estilo para los proyectos */
#Projects{
    background-color: var(--transparent);
    width: 100%;
    max-width: 1200px;
    height: auto;
    width: auto;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 100px;
}

.Projects-tittle{
    background-color: var(--transparent);
}

.Projects-tittle h2{
    background-color: var(--transparent);
    color: var(--turquoise);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
}

.projects-cars--slider{
    background-color: var(--transparent);
    display: flex;
    justify-content: center;
    height: auto;
    overflow: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.project-card{
    display: flex;
    flex-direction: column;
    position: relative;
    scroll-snap-align: center;
    width: auto;
    min-width: 240px;
    max-width: 350px;
    height: auto;
    margin: 0 10px 0;
    background-color: var(--navy-blue);
    border-radius: 15px;
    border: 1px solid var(--soft-gray);
    box-shadow: 0 4px 8px var(--soft-gray);
    padding: 15px;
}

.content {
    flex: 1;
}

.project-card .project-image{
    width: 100%;
    height: 150px;
    border-radius: 15px;
    border: 1px solid var(--soft-gray);
    box-shadow: var(--box-shadow);
    
}

.project-card h3{
    color: var(--turquoise);
    background-color: var(--navy-blue);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h3);
    text-align: center;
    margin-bottom: 5px;
}

.project-card p{
    color: var(--white);
    background-color: var(--navy-blue);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-secondary);
    text-align: center;
}

.project-card h4{
    color: var(--turquoise);
    background-color: var(--navy-blue);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-base);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.icon-card-name{
    font-size: var(--font-size-terciary);
    font-weight: var(--font-weight-regular);
    color: var(--white);
    background-color: var(--navy-blue);
    text-align: center;
}

.technologies{
    display: flex;
    flex-wrap: column;
    justify-content: center;
    background-color: var(--navy-blue);
}

.technologies h4 {
    background-color: var(--navy-blue);
    margin-bottom: 10px;
}

.tech-item{
    background-color: var(--navy-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 
}

.tech-items-container {
    background-color: var(--navy-blue);

    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}

.tech-item img{
    background-color: var(--navy-blue);
    width: 20px; 
    height: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--turquoise); 
    box-shadow: var(--box-shadow); 
    color: var(--white);
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px; 
    transition: background-color 0.3s;
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-semibold);
}


.project-buttons {
    display: flex;
    justify-content: center; 
    background-color: var(--navy-blue);
    gap: 15px;
    margin-top: auto; 
    margin-bottom: 10px;
}

.btn:hover {
    background-color: var(--gold); 
    box-shadow: var(--box-shadow); 
}

/* Estilo para el pie de pagina */
footer {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center; 
    background-color: var(--navy-blue);
    padding: 20px 20px; 
}

.contact-column {
    margin-bottom: 0px; 
    text-align: center; 
    background-color: var(--navy-blue);
}

.contact-info {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
    color: var(--white); 
    background-color: var(--navy-blue);
}

.contact-icon {
    width: 40px;
    height: 40px; 
    margin-right: 10px;
    background-color: var(--navy-blue); 
}

.contact-info a img[src*="photo.jpeg"] {
    border-radius: 50%; 
    border: 2px solid var(--gold); 
}

.social-column {
    margin-top: 20px; 
    text-align: start;
    background-color: var(--navy-blue); 
}

.social-links {
    display: flex; 
    justify-content: start; 
    flex-wrap: wrap; 
    gap: 20px; 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.social-icon {
    width: 60px; 
    height: 60px; 
    margin: 10px; 
    text-decoration: none; 
    background-color: var(--navy-blue);
}

.footer-bottom {
    color: var(--white); 
    background-color: var(--navy-blue);
    font-size: var(--font-size-secondary); 
    font-weight: var(--font-weight-regular); 
    margin-top: 20px; 
    text-align: center; 
    
}

footer h2, h3 {
    color: var(--turquoise);
    background-color: var(--navy-blue); 
}
footer a {
    background-color: var(--navy-blue); 
}

footer p {
    background-color: var(--navy-blue); 
}

footer figure figcaption{
    background-color: var(--navy-blue); 
}

footer ul{
    background-color: var(--navy-blue);
}

footer ul li{
    background-color: var(--navy-blue);
}
.contact-icon .aleja-code {
    background-color: var(--navy-blue);
}



/* Media Queries */
@media (min-width: 1100px) {
    footer {
        flex-direction: row; 
        justify-content: space-between; 
        align-items: flex-start; 
    }
    
    .contact-column, .social-column {
        flex: 1; 
        margin-bottom: 0; 
        text-align: left; 
    }

    .footer-bottom {
        grid-column: 1 / -1; 
        margin-top: 20px; 
    }
}

@media (max-width: 990px){

    aside{
        top: 15px; 
        width: auto;
        height: auto;
        padding-right: 100px;
    }

    header nav {
        padding-right: 100px;
    }

    header nav .nav-right-section {
        padding-top: 40px;
    }
}

@media (max-width: 812px) {
    header nav {
        padding-left: 40px; 
        padding-right: 40px; 
    }

    header nav .nav-right-section {
        gap: 20px;
    }

    aside{
        padding-right: 40px;
    }

    #Home {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column;
        margin-top: 130px; 
    }

    #laptop-model {
        width: 100%;
        max-width: 600px;
        aspect-ratio: 16 / 9; 
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .text-column h1 {
        font-size: var(--font-size-h2); 
    }

    #About {
        display: block; 
        margin-top: 110px; 
        padding: 0 40px;
    }

    .text-column-about {
        margin-bottom: 40px; 
    }
    

    .text-column-about p{
        text-align: center;
    }

    .download-button{
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .download-button {
        display: block;              
        max-width: 160px;           
        width: 100%;                
        margin: 0 auto;             
        padding: 10px;         
        font-size: 16px;            
        border: none;               
        border-radius: 5px;         
        cursor: pointer;            
        text-align: center;         
    }
    .skills {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center; 
        padding: 0; 
    }

    .icon-item {
        margin: 10px; 
    }

    .skills h3 {
        margin-top: 20px;
    }

    .projects-cars--slider {
        flex-direction: column;
        align-items: center; 
    }
    .project-card {
        margin: 10px 0; 
        width: 90%; 
    }

    footer {
        flex-direction: column;
        align-items: center; 
    }

    .contact-column, .social-column {
        text-align: start; 
        margin-bottom: 20px; 
        width: 100%; 
    }
}

@media (min-width: 601px) {
    header nav .nav-right-section {
        display: flex; /* Muestra la lista de menú */
    }

    header nav .menu-button {
        display: none; /* Oculta el botón "Menu" */
    }
}

@media (max-width: 600px) {

    header nav .nav-right-section {
        display: none; /* Oculta la lista de navegación */
        flex-direction: column; 
        position: absolute; 
        top: 100%; 
        left: 0; 
        background-color: var(--navy-blue); 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        z-index: 1000; 
        width: 100%; 
    }

    header div {
        background-color: var(--transparent);
    }

    aside{
        top: 15px;
    }

    header nav .menu-button {
        display: block; /* Muestra el botón "Menu" */
        background-color: var(--transparent); 
        color: var(--turquoise);
        font-size: 24px; 
        font-weight: var(--font-weight-bold); 
        border: none; 
        border-radius: 10px;
        cursor: pointer; 
        padding-top: 40px;
    }

    header nav .nav-right-section li {
        padding: 10px; 
        text-align: left;
    }

    header nav .menu-button:hover {
        background-color: transparent; 
        color: var(--gold);
    }

    .text-column-about {
        padding-right: 0px;
    }
}

@media (max-width: 480px) {
    .nav-left-section span {
        display: none; 
    }
}


